# **Imports/Configs**

In [1]:
import sys
import os
import warnings
import pandas as pd

warnings.filterwarnings("ignore")
pd.options.display.float_format = "{:,.2f}".format
# Adiciona o diretório raiz do projeto ao Python path
project_root = os.path.abspath("..")
if project_root not in sys.path:
    sys.path.insert(0, project_root)

# **Bank Statement**

## Current account statement

In [2]:
from src.data.loading.current_account_statement import (
    load_all_pdf_current_account_statement,
)


raw_current_account_statement = load_all_pdf_current_account_statement(
    "..\\data\\raw", "Extrato_Conta_Corrente.pdf"
)
raw_current_account_statement

Failed to import jpype dependencies. Fallback to subprocess.
No module named 'jpype'

,DATA,AG_O,LOTE,COD_HIST,HIST,DOC,VALOR,INF,SALDO
0,NaN,NaN,NaN,NaN,NaN,NaN,G336251,236,0013881
1,NaN,NaN,NaN,NaN,NaN,NaN,25/03/20,25,12:43:49
2,Ex,trato de,Co,nta,Corrente,NaN,NaN,NaN,NaN
3,Cliente - Conta atual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Agência 3575-0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
105,OBSERV,AÇÕES:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,------------------------,---------,-----,---,-------,NaN,NaN,NaN,NaN
107,Transação efetuada com sucesso,por: JG761,208 AI,LTO,N AZEVEDO MARQUES DA NO,BREGA.,NaN,NaN,NaN
108,Serviço de Atendimento ao Consu,midor - SAC,0800,729,0722 Ouvido,ria BB 0800 729 567,8,NaN,NaN
109,NaN,NaN,NaN,NaN,Para d,eficientes auditivos 0,800 729 0088,NaN,NaN

In [3]:
from src.processing.current_account_statement import (
    clean_pdf_current_account_statement,
)


clean_current_account_statement = clean_pdf_current_account_statement(
    raw_current_account_statement
)
clean_current_account_statement

,AG_O,DOC,LOTE,COD_HIST,HIST,VALOR_APP,VALOR,INF,SALDO,DET_HIST
DATA,,,,,,,,,,
2025-01-10,0000,350,14011,639,IPVA,0.00,"33,292.32",C,0,NaN
2025-01-10,0000,350,14011,683,ITR,0.00,801.48,C,0,NaN
2025-01-10,0000,350,14011,831,RECEBIMENTO DE ICMS,0.00,"1,473,123.32",C,0,NaN
2025-01-10,0000,350,14011,952,FPE/FPM,0.00,"974,097.66",C,0,NaN
2025-01-10,0000,350,14011,952,FPE/FPM,0.00,"2,264,490.48",C,0,NaN
...,...,...,...,...,...,...,...,...,...,...
2025-06-30,0000,940.101,13134,211,Pagamentos Diversos,0.00,"-14,226.43",D,0,NaN
2025-06-30,0000,202.500.611,13138,132,Emissão Ordem Bancária,0.00,-333.78,D,0,NaN
2025-06-30,0000,871.811.100.185.728,13113,170,Tar Lib/Ant Float Pg Div,0.00,-14.22,D,0,NaN
2025-06-30,0000,871.811.100.185.729,13113,170,Tar Lib/Ant Float Pg Div,0.00,-3.72,D,0,NaN
2025-06-30,0000,1.972,00000,848,Resgate Automático,"9,856,276.66",0.00,C,0,None

## Application account statement

In [4]:
from src.data.loading.application_account_statement import (
    load_all_pdf_application_account_statement,
)


raw_application_account_statement = load_all_pdf_application_account_statement(
    "..\\data\\raw", "Extrato_Conta_Aplicações.pdf"
)
raw_application_account_statement

  PERÍODO    RENDIMENTO
0   25/01    251.992,13
1   25/02    649.670,60
2   25/03    663.914,50
3   25/04    774.482,43
4   25/05  1.070.137,31
5   25/06    972.555,20

In [5]:
from src.processing.application_account_statement import (
    clean_pdf_applications_account_statemet,
)

clean_application_account_statement = clean_pdf_applications_account_statemet(
    raw_application_account_statement
)
clean_application_account_statement

,AG_O,LOTE,COD_HIST,HIST,DOC,VALOR_APP,VALOR,INF,SALDO,DET_HIST
DATA,,,,,,,,,,
2025-01-31,0000,00000,000,RENDIMENTOS,0,0,"251,992.13",C,NaN,RENDIMENTOS
2025-02-28,0000,00000,000,RENDIMENTOS,0,0,"649,670.60",C,NaN,RENDIMENTOS
2025-03-31,0000,00000,000,RENDIMENTOS,0,0,"663,914.50",C,NaN,RENDIMENTOS
2025-04-30,0000,00000,000,RENDIMENTOS,0,0,"774,482.43",C,NaN,RENDIMENTOS
2025-05-31,0000,00000,000,RENDIMENTOS,0,0,"1,070,137.31",C,NaN,RENDIMENTOS
2025-06-30,0000,00000,000,RENDIMENTOS,0,0,"972,555.20",C,NaN,RENDIMENTOS

## Bank statement consolidation

In [6]:
from src.processing.bank_statement import bank_statement_consolidation

bank_statement = bank_statement_consolidation(
    clean_application_account_statement,
    clean_current_account_statement,
    15778860.39,
    2025,
)
bank_statement

,AG_O,DOC,LOTE,COD_HIST,HIST,VALOR_APP,VALOR,INF,SALDO,DET_HIST
2024-12-31,NaN,NaN,NaN,NaN,SALDO INICIAL,NaN,"15,778,860.39",NaN,"15,778,860.39",NaN
2025-01-10,0000,1.972,00000,271,BB-APLIC C.PRZ-APL.AUT,"-31,430,352.23",0.00,D,"15,778,860.39",NaN
2025-01-10,0000,850,13011,350,COTA DAF-DEBITO,0.00,"-21,145.69",D,"15,757,714.70",NaN
2025-01-10,0000,350,14011,953,IPI/EXPORTACAO,0.00,"12,267.68",C,"15,769,982.38",NaN
2025-01-10,0000,350,14011,953,IPI/EXPORTACAO,0.00,"21,145.69",C,"15,791,128.07",NaN
...,...,...,...,...,...,...,...,...,...,...
2025-06-30,0000,350,14011,952,FPE/FPM,0.00,"23,229,130.50",C,"129,726,497.61",NaN
2025-06-30,0000,350,14011,952,FPE/FPM,0.00,"2,082,033.50",C,"131,808,531.11",NaN
2025-06-30,0000,350,14011,683,ITR,0.00,87.86,C,"131,808,618.97",NaN
2025-06-30,0000,530.201,13134,250,Folha de Pagamento,0.00,"-15,374.74",D,"131,793,244.23",NaN
2025-06-30,0000,350,14011,952,FPE/FPM,0.00,"895,611.60",C,"132,688,855.83",NaN

## Summary

In [7]:
from src.processing.summaries.bank_statement import bank_statement_summary_movimentation


bank_statement_entries = bank_statement_summary_movimentation(bank_statement, "c")
bank_statement_entries

            HISTÓRICO_BANCÁRIO  VALOR_ACUMULADO
0                      FPE/FPM   471,109,178.96
6          RECEBIMENTO DE ICMS    94,440,721.51
2                         IPVA    10,361,154.07
7                  RENDIMENTOS     4,382,752.17
8      VAAR Complemento FUNDEB     1,648,620.10
1               IPI/EXPORTACAO       411,241.08
3                        ITCMD       184,516.40
4                          ITR         6,055.69
5         ORDEM BANC CANCELADA           534.15
TOTAL                      NaN   582,544,774.13

In [8]:
from src.processing.summaries.bank_statement import bank_statement_summary_movimentation


bank_statement_outputs = bank_statement_summary_movimentation(bank_statement, "d")
bank_statement_outputs

              HISTÓRICO_BANCÁRIO  VALOR_ACUMULADO
3             Folha de Pagamento  -255,886,216.43
2         Emissão Ordem Bancária  -208,609,814.45
7      TED Transf.Eletr.Disponiv      -422,195.22
1                COTA DAF-DEBITO      -260,254.46
0        Ajuste Complemento VAAR      -164,645.69
4                       Impostos      -150,593.16
5            Pagamentos Diversos      -130,195.57
8       Tar Lib/Ant Float Pg Div        -7,525.91
6        Pagto via Auto-Atend.BB        -3,337.80
TOTAL                        NaN  -465,634,778.69

In [10]:
from src.processing.summaries.bank_statement import banks_statement_summary


banks_statement_summary = banks_statement_summary(bank_statement, 2025, 12)
banks_statement_summary

1. SALDO INICIAL                                                              15,778,860.39

2. TOTAL DE ENTRADAS                                                         582,544,774.13
   2.1. ENTRADAS CORRENTES                                                   582,119,339.83
       2.1.1. TOTAL DE REPASSES                                              577,736,587.66
           2.1.1.1. FUNDEB - Impostos e Transferências de Impostos (FNDE)    576,252,613.25
               2.1.1.1.1. PRINCIPAL                                          576,512,867.71
               2.1.1.1.2. Ajustes (COTA DAF)                                    -260,254.46
           2.1.1.2. COMPLEMENTAÇÃO DA UNIÃO                                    1,483,974.41
               2.1.1.2.1. VAAF                                                         0.00
               2.1.1.2.2. VAAT                                                         0.00
               2.1.1.2.3. VAAR                                                 1,648,620.10
               2.1.1.2.4. Ajustes de complementação da União                    -164,645.69
       2.1.2. RENDIMENTOS DE APLICAÇÕES FINANCEIRAS                            4,382,752.17
   2.2. OUTRAS ENTRADAS                                                          425,434.30
       2.2.1. ORDENS CANCELADAS (ENTRADAS)                                           534.15
       2.2.2. TRANSFERÊNCIAS RECEBIDAS (ENTRADAS)                                      0.00
       2.2.3. Ajustes (COTA DAF)                                                 260,254.46
       2.2.4. Ajustes de complementação da União                                 164,645.69

3. TOTAL DE SAÍDAS                                                          -465,634,778.69
   3.1. DESPESAS CANCELADAS/ANULADAS                                                -534.15
   3.2. Ajustes (COTA DAF)                                                      -260,254.46
   3.3. Ajustes de complementação da União                                      -164,645.69
   3.4. DESPESAS EFETIVAMENTE PAGAS                                         -465,209,344.39

4. SALDO FINAL                                                               132,688,855.83

5. TOTAL APLICADO                                                           -523,932,550.79
6. TOTAL RESGATADO                                                           411,405,307.52
Name: TOTAIS, dtype: object

## Pipeline

In [7]:
from pipeline.bank_statement import run_bank_statement_pipeline

run_bank_statement_pipeline(
    15778860.39,
    2025,
)

,AG_O,DOC,LOTE,COD_HIST,HIST,VALOR_APP,VALOR,INF,SALDO,DET_HIST
2024-12-31,NaN,NaN,NaN,NaN,SALDO INICIAL,NaN,"15,778,860.39",NaN,"15,778,860.39",NaN
2025-01-10,0000,1.972,00000,271,BB-APLIC C.PRZ-APL.AUT,"-31,430,352.23",0.00,D,"15,778,860.39",NaN
2025-01-10,0000,850,13011,350,COTA DAF-DEBITO,0.00,"-21,145.69",D,"15,757,714.70",NaN
2025-01-10,0000,350,14011,953,IPI/EXPORTACAO,0.00,"12,267.68",C,"15,769,982.38",NaN
2025-01-10,0000,350,14011,953,IPI/EXPORTACAO,0.00,"21,145.69",C,"15,791,128.07",NaN
...,...,...,...,...,...,...,...,...,...,...
2025-06-30,0000,350,14011,952,FPE/FPM,0.00,"23,229,130.50",C,"129,726,497.61",NaN
2025-06-30,0000,350,14011,952,FPE/FPM,0.00,"2,082,033.50",C,"131,808,531.11",NaN
2025-06-30,0000,350,14011,683,ITR,0.00,87.86,C,"131,808,618.97",NaN
2025-06-30,0000,530.201,13134,250,Folha de Pagamento,0.00,"-15,374.74",D,"131,793,244.23",NaN
2025-06-30,0000,350,14011,952,FPE/FPM,0.00,"895,611.60",C,"132,688,855.83",NaN

In [8]:
# with pd.ExcelWriter(
#     "../data/raw/2025/Bimestre_01/01/Extratos_Consolidados.xlsx"
# ) as writer:
#     bank_statement.to_excel(writer, sheet_name="Extratos Consolidados")
#     financial_sumary.to_excel(writer, sheet_name="Resumo Financeiro")
#     bank_statement_summary.to_excel(writer, sheet_name="Relatório Geral")
#     ins_bank.to_excel(writer, sheet_name="Detalhamento Entradas")
#     outs_bank.to_excel(writer, sheet_name="Detalhamento Saídas")
#     applications.to_excel(writer, sheet_name="Detalhamento Rendimentos")
#     transfers_data.to_excel(writer, sheet_name="Dados Transferências")
#     transfers_adjust_data.to_excel(writer, sheet_name="Dados Ajustes Transferências")
#     incomes_summary.to_excel(writer, sheet_name="Resumo Transferências")
#     res_consolidation_data.to_excel(writer, sheet_name="Dados REs")
#     res_canceled.to_excel(writer, sheet_name="REs Canceladas")

# **Public transfers**

## Liquid transfers

### One sheet

In [9]:
from src.data.loading.public_transfers import load_fnde_sheet_data


raw_fnde_sheet_data = load_fnde_sheet_data(
    "..\\data\\external\\2025_09_22_Transferências_Fundeb_FNDE.xls", "E_ICMS"
)

raw_fnde_sheet_data

,ESTADOS,JANEIRO,FEVEREIRO,MARÇO,ABRIL,MAIO,JUNHO,JULHO,AGOSTO,SETEMBRO,OUTUBRO,NOVEMBRO,DEZEMBRO,TOTAL
UF,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AC,Acre,"17,166,637.90","20,345,121.08","19,850,997.34","21,246,955.29","21,737,937.74","22,006,484.07","24,759,921.54","23,373,727.87",NaN,NaN,NaN,NaN,"170,487,782.83"
AL,Alagoas,"39,540,062.37","45,995,313.79","36,801,251.15","50,613,767.92","37,288,349.65","36,158,153.85","38,056,605.20","36,244,481.51",NaN,NaN,NaN,NaN,"320,697,985.44"
AM,Amazonas,"116,505,215.31","106,613,768.75","110,519,895.90","98,929,496.66","118,740,799.11","103,071,481.90","103,926,778.78","115,848,690.23",NaN,NaN,NaN,NaN,"874,156,126.64"
AP,Amapá,"17,391,684.67","12,205,256.42","14,909,966.49","14,044,830.96","19,018,969.36","16,870,013.61","14,031,056.72","4,569,569.76",NaN,NaN,NaN,NaN,"113,041,347.99"
BA,Bahia,"184,048,487.31","188,192,751.14","165,344,295.22","186,020,533.22","174,523,228.16","162,040,512.37","201,747,585.18","178,109,346.71",NaN,NaN,NaN,NaN,"1,440,026,739.31"
CE,Ceará,"86,271,405.41","78,383,381.19","77,252,377.86","86,693,750.60","79,638,546.03","87,117,652.49","95,251,519.77","88,808,925.26",NaN,NaN,NaN,NaN,"679,417,558.61"
DF,Distrito Federal,"119,359,314.36","245,749,293.33","218,412,845.25","190,291,440.23","200,263,030.62","207,547,204.27","215,807,612.74","212,699,067.03",NaN,NaN,NaN,NaN,"1,610,129,807.83"
ES,Espírito Santo,"106,251,256.50","118,379,633.55","107,583,147.91","125,652,114.48","120,890,896.98","74,036,708.94","188,283,662.80","121,802,349.15",NaN,NaN,NaN,NaN,"962,879,770.31"
GO,Goiás,"198,804,664.27","186,229,700.19","215,762,029.58","129,843,623.72","282,959,769.69","202,125,468.49","217,112,354.88","212,373,812.52",NaN,NaN,NaN,NaN,"1,645,211,423.34"
MA,Maranhão,"55,568,531.32","50,411,536.27","44,950,695.70","46,518,654.73","82,730,841.86","56,243,158.48","57,550,081.34","61,253,090.77",NaN,NaN,NaN,NaN,"455,226,590.47"
MG,Minas Gerais,"634,258,620.41","582,645,852.48","597,419,668.09","715,248,006.25","585,562,117.10","590,595,888.07","739,479,957.87","620,847,772.91",NaN,NaN,NaN,NaN,"5,066,057,883.18"
MS,Mato Grosso do Sul,"101,264,055.52","97,990,333.44","116,617,366.89","98,751,679.68","97,125,844.59","110,198,025.89","98,095,757.14","111,436,674.22",NaN,NaN,NaN,NaN,"831,479,737.37"
MT,Mato Grosso,"200,848,568.00","168,683,083.24","176,753,043.17","181,234,313.54","172,276,741.53","133,753,229.27","243,116,065.85","192,437,857.72",NaN,NaN,NaN,NaN,"1,469,102,902.32"
PA,Pará,"109,532,966.68","86,577,420.71","120,754,371.48","101,003,450.64","105,729,937.60","116,977,049.64","114,559,188.18","90,806,372.03",NaN,NaN,NaN,NaN,"845,940,756.96"
PB,Paraíba,"54,987,251.02","47,855,648.02","50,192,961.92","51,076,821.70","50,863,281.24","49,680,933.95","55,689,507.55","59,544,268.22",NaN,NaN,NaN,NaN,"419,890,673.62"
PE,Pernambuco,"149,628,603.02","151,112,744.39","142,420,678.76","159,825,353.65","149,235,344.81","146,230,480.72","166,785,118.47","153,886,715.98",NaN,NaN,NaN,NaN,"1,219,125,039.80"
PI,Piauí,"44,278,750.17","38,728,180.71","37,108,498.49","42,312,826.89","42,096,006.93","45,436,445.27","47,393,413.90","48,264,003.70",NaN,NaN,NaN,NaN,"345,618,126.06"
PR,Paraná,"452,433,992.64","376,399,961.06","405,749,436.95","456,301,921.42","347,699,863.39","414,071,620.51","462,380,794.82","389,854,416.77",NaN,NaN,NaN,NaN,"3,304,892,007.56"
RJ,Rio de Janeiro,"299,184,263.31","222,813,967.28","253,219,968.38","350,367,635.37","256,165,973.06","238,272,796.38","279,667,763.58","244,370,489.14",NaN,NaN,NaN,NaN,"2,144,062,856.50"
RN,Rio Grande do Norte,"51,066,091.26","39,784,326.86","45,301,047.25","59,305,410.89","44,345,961.21","57,728,459.47","52,668,181.93","44,537,385.49",NaN,NaN,NaN,NaN,"394,736,864.36"
RO,Rondônia,"68,915,120.21","52,770,150.66","65,388,634.66","60,183,941.90","75,509,114.55","62,937,972.75","89,548,201.41","70,350,166.11",NaN,NaN,NaN,NaN,"545,603,302.25"
RR,Roraima,"16,911,874.71","15,781,027.01","15,688,313.87","17,033,203.12","17,085,605.34","15,406,173.37","17,860,798.77","15,671,159.45",NaN,NaN,NaN,NaN,"131,438,155.64"
RS,Rio Grande do Sul,"291,788,487.42","297,844,025.87","301,709,474.26","369,942,116.04","376,883,643.10","306,405,450.94","337,397,423.44","312,851,865.70",NaN,NaN,NaN,NaN,"2,594,822,486.77"
SC,Santa Catarina,"285,490,978.09","283,042,280.94","278,148,269.28","287,977,440.68","285,054,003.95","278,172,558.52","264,490,301.04","276,576,270.53",NaN,NaN,NaN,NaN,"2,238,952,103.03"
SE,Sergipe,"39,853,282.06","34,946,900.03","33,453,353.39","38,922,383.72","35,424,030.76","33,024,349.30","38,888,550.15","32,070,040.51",NaN,NaN,NaN,NaN,"286,582,889.92"
SP,São Paulo,"1,532,439,219.14","1,629,860,682.97","1,670,497,002.80","1,793,117,792.14","1,659,408,799.98","1,254,734,080.52","2,278,847,673.37","1,679,678,622.11",NaN,NaN,NaN,NaN,"13,498,583,873.03"
TO,Tocantins,"46,585,435.25","37,258,525.93","38,608,858.20","43,080,262.01","41,320,677.45","39,065,237.00","51,392,883.22","45,866,014.43",NaN,NaN,NaN,NaN,"343,177,893.49"
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,REPASSE MENSAL TOTAL,"5,320,374,818.33","5,216,600,867.31","5,360,418,450.24","5,775,539,727.45","5,479,579,315.79","4,859,907,590.04","6,494,788,759.64","5,444,133,155.83",0.00,0.00,0.00,0.00,"43,951,342,684.63"
NaN,Observações:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,AJUSTE FUNDEB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
from src.processing.public_transfers import clean_fnde_sheet_data

clean_fnde_sheet_data = clean_fnde_sheet_data(raw_fnde_sheet_data)
clean_fnde_sheet_data

,JANEIRO,FEVEREIRO,MARÇO,ABRIL,MAIO,JUNHO,JULHO,AGOSTO,SETEMBRO,OUTUBRO,NOVEMBRO,DEZEMBRO
UF,,,,,,,,,,,,
AC,"17,166,637.90","20,345,121.08","19,850,997.34","21,246,955.29","21,737,937.74","22,006,484.07","24,759,921.54","23,373,727.87",NaN,NaN,NaN,NaN
AL,"39,540,062.37","45,995,313.79","36,801,251.15","50,613,767.92","37,288,349.65","36,158,153.85","38,056,605.20","36,244,481.51",NaN,NaN,NaN,NaN
AM,"116,505,215.31","106,613,768.75","110,519,895.90","98,929,496.66","118,740,799.11","103,071,481.90","103,926,778.78","115,848,690.23",NaN,NaN,NaN,NaN
AP,"17,391,684.67","12,205,256.42","14,909,966.49","14,044,830.96","19,018,969.36","16,870,013.61","14,031,056.72","4,569,569.76",NaN,NaN,NaN,NaN
BA,"184,048,487.31","188,192,751.14","165,344,295.22","186,020,533.22","174,523,228.16","162,040,512.37","201,747,585.18","178,109,346.71",NaN,NaN,NaN,NaN
CE,"86,271,405.41","78,383,381.19","77,252,377.86","86,693,750.60","79,638,546.03","87,117,652.49","95,251,519.77","88,808,925.26",NaN,NaN,NaN,NaN
DF,"119,359,314.36","245,749,293.33","218,412,845.25","190,291,440.23","200,263,030.62","207,547,204.27","215,807,612.74","212,699,067.03",NaN,NaN,NaN,NaN
ES,"106,251,256.50","118,379,633.55","107,583,147.91","125,652,114.48","120,890,896.98","74,036,708.94","188,283,662.80","121,802,349.15",NaN,NaN,NaN,NaN
GO,"198,804,664.27","186,229,700.19","215,762,029.58","129,843,623.72","282,959,769.69","202,125,468.49","217,112,354.88","212,373,812.52",NaN,NaN,NaN,NaN
MA,"55,568,531.32","50,411,536.27","44,950,695.70","46,518,654.73","82,730,841.86","56,243,158.48","57,550,081.34","61,253,090.77",NaN,NaN,NaN,NaN
MG,"634,258,620.41","582,645,852.48","597,419,668.09","715,248,006.25","585,562,117.10","590,595,888.07","739,479,957.87","620,847,772.91",NaN,NaN,NaN,NaN
MS,"101,264,055.52","97,990,333.44","116,617,366.89","98,751,679.68","97,125,844.59","110,198,025.89","98,095,757.14","111,436,674.22",NaN,NaN,NaN,NaN
MT,"200,848,568.00","168,683,083.24","176,753,043.17","181,234,313.54","172,276,741.53","133,753,229.27","243,116,065.85","192,437,857.72",NaN,NaN,NaN,NaN
PA,"109,532,966.68","86,577,420.71","120,754,371.48","101,003,450.64","105,729,937.60","116,977,049.64","114,559,188.18","90,806,372.03",NaN,NaN,NaN,NaN
PB,"54,987,251.02","47,855,648.02","50,192,961.92","51,076,821.70","50,863,281.24","49,680,933.95","55,689,507.55","59,544,268.22",NaN,NaN,NaN,NaN
PE,"149,628,603.02","151,112,744.39","142,420,678.76","159,825,353.65","149,235,344.81","146,230,480.72","166,785,118.47","153,886,715.98",NaN,NaN,NaN,NaN
PI,"44,278,750.17","38,728,180.71","37,108,498.49","42,312,826.89","42,096,006.93","45,436,445.27","47,393,413.90","48,264,003.70",NaN,NaN,NaN,NaN
PR,"452,433,992.64","376,399,961.06","405,749,436.95","456,301,921.42","347,699,863.39","414,071,620.51","462,380,794.82","389,854,416.77",NaN,NaN,NaN,NaN
RJ,"299,184,263.31","222,813,967.28","253,219,968.38","350,367,635.37","256,165,973.06","238,272,796.38","279,667,763.58","244,370,489.14",NaN,NaN,NaN,NaN
RN,"51,066,091.26","39,784,326.86","45,301,047.25","59,305,410.89","44,345,961.21","57,728,459.47","52,668,181.93","44,537,385.49",NaN,NaN,NaN,NaN
RO,"68,915,120.21","52,770,150.66","65,388,634.66","60,183,941.90","75,509,114.55","62,937,972.75","89,548,201.41","70,350,166.11",NaN,NaN,NaN,NaN
RR,"16,911,874.71","15,781,027.01","15,688,313.87","17,033,203.12","17,085,605.34","15,406,173.37","17,860,798.77","15,671,159.45",NaN,NaN,NaN,NaN
RS,"291,788,487.42","297,844,025.87","301,709,474.26","369,942,116.04","376,883,643.10","306,405,450.94","337,397,423.44","312,851,865.70",NaN,NaN,NaN,NaN
SC,"285,490,978.09","283,042,280.94","278,148,269.28","287,977,440.68","285,054,003.95","278,172,558.52","264,490,301.04","276,576,270.53",NaN,NaN,NaN,NaN
SE,"39,853,282.06","34,946,900.03","33,453,353.39","38,922,383.72","35,424,030.76","33,024,349.30","38,888,550.15","32,070,040.51",NaN,NaN,NaN,NaN
SP,"1,532,439,219.14","1,629,860,682.97","1,670,497,002.80","1,793,117,792.14","1,659,408,799.98","1,254,734,080.52","2,278,847,673.37","1,679,678,622.11",NaN,NaN,NaN,NaN
TO,"46,585,435.25","37,258,525.93","38,608,858.20","43,080,262.01","41,320,677.45","39,065,237.00","51,392,883.22","45,866,014.43",NaN,NaN,NaN,NaN

In [11]:
from src.processing.public_transfers import filter_uf_fnde_sheet_data

filtered_uf_clean_fnde_sheet_data = filter_uf_fnde_sheet_data(
    clean_fnde_sheet_data, "E_ICMS", "AP"
)
filtered_uf_clean_fnde_sheet_data

               E_ICMS
MÊS
01/2025 17,391,684.67
02/2025 12,205,256.42
03/2025 14,909,966.49
04/2025 14,044,830.96
05/2025 19,018,969.36
06/2025 16,870,013.61
07/2025 14,031,056.72
08/2025  4,569,569.76
09/2025           NaN
10/2025           NaN
11/2025           NaN
12/2025           NaN

### All sheets

In [14]:
from utils.excel import load_sheet_names


load_sheet_names("..\\data\\external\\2025_09_22_Transferências_Fundeb_FNDE.xls")

['E_FPE',
 'E_FPM',
 'E_IPI',
 'E_ITR',
 'E_COUN_VAAF',
 'E_COUN_VAAT',
 'E_COUN_VAAR',
 'E_ICMS',
 'E_IPVA',
 'E_ITCMD',
 'E_Tot1_U',
 'E_Tot2_E',
 'E_TOTAL',
 'M_FPE',
 'M_FPM',
 'M_IPI',
 'M_ITR',
 'M_COUN_VAAF',
 'M_COUN_VAAT',
 'M_COUN_VAAR',
 'M_ICMS',
 'M_IPVA',
 'M_ITCMD',
 'M_Tot1_U',
 'M_Tot2_E',
 'M_TOTAL',
 'Resumo']

In [12]:
from src.data.loading.public_transfers import load_all_fnde_sheet_data


uf_fnde_data = load_all_fnde_sheet_data(
    "..\\data\\external\\2025_09_22_Transferências_Fundeb_FNDE.xls", "E", "AP"
)
uf_fnde_data

,E_FPE,E_FPM,E_IPI,E_ITR,E_COUN_VAAF,E_COUN_VAAT,E_COUN_VAAR,E_ICMS,E_IPVA,E_ITCMD,TOTAL
MÊS,,,,,,,,,,,
01/2025,"65,959,887.71","8,192,778.26","21,797.28","1,452.04",0.00,0.00,"1,313,236.08","17,391,684.67","34,348.74","20,855.66","92,936,040.44"
02/2025,"86,477,361.52","10,993,762.57","24,674.64","1,324.00",0.00,0.00,0.00,"12,205,256.42","1,721,670.19","104,850.78","111,528,900.12"
03/2025,"57,360,184.62","7,239,898.27","26,871.47",640.43,0.00,0.00,0.00,"14,909,966.49","4,219,366.51",0.00,"83,756,927.79"
04/2025,"58,560,867.71","7,356,972.00","25,229.15",439.44,0.00,0.00,"170,738.33","14,044,830.96","2,031,296.70","7,240.43","82,197,614.72"
05/2025,"74,446,848.46","9,384,861.14","24,510.65","1,790.36",0.00,0.00,0.00,"19,018,969.36","1,203,990.63","28,418.13","104,109,388.73"
06/2025,"75,496,214.89","9,639,541.81","27,903.43",409.42,0.00,0.00,0.00,"16,870,013.61","1,150,481.30","23,151.40","103,207,715.86"
07/2025,"46,900,910.09","5,917,373.68","23,940.54",438.17,0.00,0.00,0.00,"14,031,056.72","2,597,901.75","7,573.12","69,479,194.07"
08/2025,"61,396,515.10","7,807,082.96","26,445.03","4,552.23",0.00,0.00,0.00,"4,569,569.76","814,947.08","29,714.62","74,648,826.78"
09/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
10/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
11/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
12/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
TOTAL,"526,598,790.10","66,532,270.69","201,372.19","11,046.09",0.00,0.00,"1,483,974.41","113,041,347.99","13,774,002.90","221,804.14","721,864,608.51"

In [13]:
from src.data.loading.public_transfers import load_all_fnde_sheet_data


uf_fnde_data = load_all_fnde_sheet_data(
    "..\\data\\external\\2025_09_22_Transferências_Fundeb_FNDE.xls", "M", "AP"
)
uf_fnde_data

,M_FPE,M_FPM,M_IPI,M_ITR,M_COUN_VAAF,M_COUN_VAAT,M_COUN_VAAR,M_ICMS,M_IPVA,M_ITCMD,TOTAL
MÊS,,,,,,,,,,,
01/2025,"47,734,678.04","5,929,052.61","15,774.54","1,041.58",0.00,"3,575,559.00","1,969,260.84","12,567,533.16","24,460.66","15,049.64","71,832,410.07"
02/2025,"62,583,020.63","7,956,103.84","17,856.90",958.18,0.00,"1,423,655.25","1,828,806.16","8,832,852.90","1,245,622.61","75,879.74","83,964,756.21"
03/2025,"41,511,137.10","5,239,460.35","19,446.64",463.48,0.00,"1,553,078.46","1,995,061.27","10,790,231.35","3,053,523.93",0.00,"64,162,402.58"
04/2025,"42,380,062.47","5,324,185.84","18,258.17",317.99,0.00,"1,883,995.26","2,189,011.26","10,164,139.25","1,470,034.25","5,239.81","63,435,244.30"
05/2025,"53,876,628.16","6,791,753.82","17,738.13","1,295.64",0.00,"2,067,147.19","2,529,331.51","13,763,886.05","871,318.98","20,566.01","79,939,665.49"
06/2025,"54,636,046.76","6,976,064.47","20,193.46",296.30,0.00,"2,208,643.87","2,702,464.79","12,208,702.83","832,594.76","16,754.53","79,601,761.77"
07/2025,"33,941,838.28","4,282,359.12","17,325.52",317.13,0.00,"2,208,643.87","2,702,464.79","10,154,129.82","1,859,902.34","5,480.60","55,172,461.47"
08/2025,"44,432,199.34","5,649,927.65","19,138.04","3,294.44",0.00,"2,263,946.77","2,770,132.61","3,306,963.49","589,771.14","21,504.27","59,056,877.75"
09/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
10/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
11/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
12/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
TOTAL,"381,095,610.78","48,148,907.70","145,731.40","7,984.74",0.00,"17,184,669.67","18,686,533.23","81,788,438.85","9,947,228.67","160,474.60","557,165,579.64"

## Adjusts

### One sheet

In [15]:
from src.data.loading.public_transfers import load_fnde_sheet_data


raw_adjust_fnde_sheet_data = load_fnde_sheet_data(
    "..\\data\\external\\2025_09_22_Transferências_Fundeb_FNDE.xls",
    "E_ICMS",
    adjust=True,
)
raw_adjust_fnde_sheet_data

,ESTADOS,JANEIRO,FEVEREIRO,MARÇO,ABRIL,MAIO,JUNHO,JULHO,AGOSTO,SETEMBRO,OUTUBRO,NOVEMBRO,DEZEMBRO,TOTAL
UF,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AC,Acre,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
AL,Alagoas,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
AM,Amazonas,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
AP,Amapá,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
BA,Bahia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
CE,Ceará,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
DF,Distrito Federal,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
ES,Espírito Santo,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
GO,Goiás,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
MA,Maranhão,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
MG,Minas Gerais,"-382,622.05",0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,"-382,622.05"
MS,Mato Grosso do Sul,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
MT,Mato Grosso,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
PA,Pará,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
PB,Paraíba,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
PE,Pernambuco,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
PI,Piauí,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
PR,Paraná,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
RJ,Rio de Janeiro,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
RN,Rio Grande do Norte,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
RO,Rondônia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
RR,Roraima,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
RS,Rio Grande do Sul,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
SC,Santa Catarina,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
SE,Sergipe,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
SP,São Paulo,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
TO,Tocantins,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,REPASSE MENSAL TOTAL,"-382,622.05",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"-382,622.05"

In [16]:
from src.processing.public_transfers import clean_fnde_sheet_data

clean_adjust_fnde_sheet_data = clean_fnde_sheet_data(raw_adjust_fnde_sheet_data)
clean_adjust_fnde_sheet_data

,JANEIRO,FEVEREIRO,MARÇO,ABRIL,MAIO,JUNHO,JULHO,AGOSTO,SETEMBRO,OUTUBRO,NOVEMBRO,DEZEMBRO
UF,,,,,,,,,,,,
AC,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
AL,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
AM,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
AP,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
BA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
CE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
DF,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
ES,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
GO,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
MA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
MG,"-382,622.05",0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
MS,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
MT,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
PA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
PB,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
PE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
PI,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
PR,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
RJ,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
RN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
RO,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
RR,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
RS,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
SC,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
SE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
SP,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
TO,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN

In [17]:
from src.processing.public_transfers import filter_uf_fnde_sheet_data

filtered_uf_clean_principal_fnde_sheet_data = filter_uf_fnde_sheet_data(
    clean_adjust_fnde_sheet_data, "E_ICMS", "AP", adjusts=True
)
filtered_uf_clean_principal_fnde_sheet_data

         E_ICMS_AJUSTES
MÊS
01/2025            0.00
02/2025            0.00
03/2025            0.00
04/2025            0.00
05/2025            0.00
06/2025            0.00
07/2025            0.00
08/2025            0.00
09/2025             NaN
10/2025             NaN
11/2025             NaN
12/2025             NaN

In [18]:
from src.data.loading.public_transfers import load_all_fnde_sheet_data


uf_fnde_data_adjusts = load_all_fnde_sheet_data(
    "..\\data\\external\\2025_09_22_Transferências_Fundeb_FNDE.xls",
    "E",
    "AP",
    adjust=True,
)
uf_fnde_data_adjusts

,E_FPE_AJUSTES,E_FPM_AJUSTES,E_IPI_AJUSTES,E_ITR_AJUSTES,E_COUN_VAAF_AJUSTES,E_COUN_VAAT_AJUSTES,E_COUN_VAAR_AJUSTES,E_ICMS_AJUSTES,E_IPVA_AJUSTES,E_ITCMD_AJUSTES,TOTAL
MÊS,,,,,,,,,,,
01/2025,0.00,0.00,0.00,0.00,0.00,0.00,"-164,645.69",0.00,0.00,0.00,"-164,645.69"
02/2025,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
03/2025,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
04/2025,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
05/2025,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
06/2025,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
07/2025,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
08/2025,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
09/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
10/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
11/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
12/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
TOTAL,0.00,0.00,0.00,0.00,0.00,0.00,"-164,645.69",0.00,0.00,0.00,"-164,645.69"

In [19]:
from src.data.loading.public_transfers import load_all_fnde_sheet_data


uf_fnde_data_adjusts = load_all_fnde_sheet_data(
    "..\\data\\external\\2025_09_22_Transferências_Fundeb_FNDE.xls",
    "M",
    "AP",
    adjust=True,
)
uf_fnde_data_adjusts

,M_FPE_AJUSTES,M_FPM_AJUSTES,M_IPI_AJUSTES,M_ITR_AJUSTES,M_COUN_VAAF_AJUSTES,M_COUN_VAAT_AJUSTES,M_COUN_VAAR_AJUSTES,M_ICMS_AJUSTES,M_IPVA_AJUSTES,M_ITCMD_AJUSTES,TOTAL
MÊS,,,,,,,,,,,
01/2025,0.00,0.00,0.00,0.00,0.00,0.00,"-3,721.52",0.00,0.00,0.00,"-3,721.52"
02/2025,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
03/2025,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
04/2025,0.00,0.00,0.00,0.00,0.00,"201,493.59","-8,014.04",0.00,0.00,0.00,"193,479.55"
05/2025,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
06/2025,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
07/2025,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
08/2025,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
09/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
10/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
11/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
12/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
TOTAL,0.00,0.00,0.00,0.00,0.00,"201,493.59","-11,735.56",0.00,0.00,0.00,"189,758.03"

## Summary

In [20]:
from src.processing.public_transfers import uf_fnde_summary

uf_fnde_summary(uf_fnde_data, uf_fnde_data_adjusts)

,TOTAL_BRUTO_REPASSES,TOTAL_AJUSTES,TOTAL_LIQUIDO_REPASSES,TOTAL_ACUMULADO
MÊS,,,,
01/2025,"71,836,131.59","-3,721.52","71,832,410.07","71,832,410.07"
02/2025,"83,964,756.21",0.00,"83,964,756.21","155,797,166.28"
03/2025,"64,162,402.58",0.00,"64,162,402.58","219,959,568.86"
04/2025,"63,241,764.75","193,479.55","63,435,244.30","283,394,813.16"
05/2025,"79,939,665.49",0.00,"79,939,665.49","363,334,478.65"
06/2025,"79,601,761.77",0.00,"79,601,761.77","442,936,240.42"
07/2025,"55,172,461.47",0.00,"55,172,461.47","498,108,701.89"
08/2025,"59,056,877.75",0.00,"59,056,877.75","557,165,579.64"
09/2025,0.00,0.00,0.00,"557,165,579.64"
10/2025,0.00,0.00,0.00,"557,165,579.64"
11/2025,0.00,0.00,0.00,"557,165,579.64"
12/2025,0.00,0.00,0.00,"557,165,579.64"
NaN,0.00,0.00,0.00,"557,165,579.64"
TOTAL,"556,975,821.61","189,758.03","557,165,579.64","557,165,579.64"

## Pipeline

# REs

In [2]:
from utils.file_paths import list_files_by_prefix_suffix


files_path = list_files_by_prefix_suffix("..\\data\\raw\\2025", prefix="2025RE")
files_path[0]

'..\\data\\raw\\2025\\Bimestre_01\\02\\REs\\2025RE00014.xls'

In [3]:
from src.data.loading.re import load_excel_re


raw_re = load_excel_re(files_path[1])
display(raw_re.head(1))

,OB,Unnamed: 1,Tipo,CNPJ/CPF,Favorecido,C/C Origem,Banco,Ag.,C/C,Valor
0,2025OB00282,NaN,32.00,"70,372,131,000,185.00",ASS.ASSIST.FUNC.PUBLICO MENSALIDADE,79332,1.00,"4,211.00","1,108,050.00",229.00

In [4]:
from src.processing.re import clean_excel_re


clean_re = clean_excel_re(raw_re)
clean_re.head()

,OB,TIPO,CNPJ/CPF,FAVORECIDO,C/C_ORIGEM,BANCO,AG,C/C,VALOR,CANCELAMENTO
0,2025OB00282,32.00,"70,372,131,000,185.00",ASS.ASSIST.FUNC.PUBLICO MENSALIDADE,79332,1.00,"4,211.00","1,108,050.00",229.00,<NA>
1,2025OB00287,31.00,"33,923,798,000,100.00",BANCO MASTER S.A,79332,243.00,1.00,"49,909,616.00","327,604.14",<NA>
2,2025OB00294,31.00,"90,400,888,000,142.00",BANCO SANTANDER BANESPA S.A,79332,33.00,725.00,"290,071,883.00","3,139,248.72",<NA>
3,2025OB00296,32.00,"2,929,977,000,113.00",AGENCIA DE FOMENTO DO AMAPA S/A AFAP,79332,1.00,"3,575.00","68,748.00","26,538.12",<NA>

In [5]:
from src.processing.re import load_all_excel_res


res_relation = load_all_excel_res("..\\data\\raw", prefix="2025RE")
res_relation

,RE,OB,TIPO,CNPJ/CPF,FAVORECIDO,C/C_ORIGEM,BANCO,AG,C/C,VALOR,CANCELAMENTO
0,2025RE00014,2025OB00276,31.00,"394,577,000,125.00",GOVERNO DO ESTADO DO AMAPA,79332,104.00,658.00,"999,994.00","3,384,838.67",<NA>
1,2025RE00014,2025OB00277,32.00,"26,158.00",BANCO DO BRASIL S/A,79332,1.00,"3,575.00","310,270,057.00","8,576,713.27",<NA>
2,2025RE00014,2025OB00278,31.00,"61,573,796,000,166.00",ALLIANZ SEGUROS S.A,79332,237.00,"3,114.00","1,396,463.00",19.58,<NA>
3,2025RE00014,2025OB00279,32.00,"37,880,010,000,179.00",ASPA MENSALIDADE,79332,1.00,"1,610.00","3,137,295.00",196.00,<NA>
4,2025RE00014,2025OB00280,31.00,"759,231,000,183.00",ASPBRAS-ASSOC.DOS SERV.PUBLICOS BRASILEIROS.,79332,33.00,"2,136.00","130,009,700.00",93.00,<NA>
...,...,...,...,...,...,...,...,...,...,...,...
1,2025RE00602,2025OB18296,31.00,"394,577,000,125.00",GOVERNO DO ESTADO DO AMAPA,79332,237.00,523.00,"295,396.00","84,362.49",NaN
2,2025RE00602,2025OB18297,31.00,"394,577,000,125.00",GOVERNO DO ESTADO DO AMAPA,79332,104.00,658.00,"999,960.00","113,931.87",NaN
3,2025RE00602,2025OB18298,31.00,"394,577,000,125.00",GOVERNO DO ESTADO DO AMAPA,79332,341.00,"1,138.00","64,348.00","76,041.04",NaN
4,2025RE00602,2025OB18299,31.00,"394,577,000,125.00",GOVERNO DO ESTADO DO AMAPA,79332,33.00,"3,191.00","290,000,519.00","54,620.38",NaN
0,2025RE00611,2025OB18466,31.00,"394,577,000,125.00",GOVERNO DO ESTADO DO AMAPA,79332,104.00,658.00,"999,994.00",333.78,NaN

In [6]:
from src.processing.re import filter_canceled_res_relation


canceled_res_relation = filter_canceled_res_relation(res_relation)
canceled_res_relation

,RE,OB,TIPO,CNPJ/CPF,FAVORECIDO,C/C_ORIGEM,BANCO,AG,C/C,VALOR,CANCELAMENTO
18,2025RE00014,2025OB00298,32.00,"76,621,853,000,102.00",R.S.P.P.ASS.PREV.PRIVADA,79332,1.00,"3,392.00","47,023.00",111.18,2025GD00002
20,2025RE00061,2025OB01037,32.00,"76,621,853,000,102.00",R.S.P.P.ASS.PREV.PRIVADA,79332,1.00,"3,392.00","47,023.00",111.18,2025GD00009
11,2025RE00159,2025OB03991,32.00,"76,621,853,000,102.00",R.S.P.P.ASS.PREV.PRIVADA,79332,1.00,"3,392.00",47023,103.93,2025GD00027
12,2025RE00370,2025OB10922,32.00,"76,621,853,000,102.00",R.S.P.P.ASS.PREV.PRIVADA,79332,1.00,"3,392.00",47023,103.93,2025GD00955
7,2025RE00484,2025OB15074,32.00,"76,621,853,000,102.00",R.S.P.P.ASS.PREV.PRIVADA,79332,1.00,"3,392.00","47,023.00",103.93,2025GD00978
TOTAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,534.15,NaN

# Accountability

In [ ]:
# with pd.ExcelWriter("../2025/Dados_processados/Contabilidade_Orçamento.xlsx") as writer:
#     accounting_data.to_excel(writer, sheet_name="Dados_Consolidados")
#     monthly_accounting_payments_data.to_excel(
#         writer, sheet_name="Dados_Pgtos_Contábeis_Mensais"
#     )
#     budget_summary.to_excel(writer, sheet_name="Relatório_Orçamentário")
#     accounting_summary.to_excel(writer, sheet_name="Relatório_Contábil_Geral")
#     payroll_budget.to_excel(writer, sheet_name="Resumo_Contábil_Folha_Pagamento")
#     other_expenses_budget.to_excel(writer, sheet_name="Resumo_Contábil_Outras_Despesas")
#     paid_cases.to_excel(writer, sheet_name="Processos_Outras_Despesas_Pagos")

# Payroll

In [ ]:
# with pd.ExcelWriter(
#     f"../{year}/Dados_processados/Folha_Pagamento_Consolidada.xlsx"
# ) as writer:
#     payroll_data.to_excel(writer, sheet_name="Dados_Consolidados", index=False)
#     payroll_summary.to_excel(writer, sheet_name="Resumo_Por_Folha")
#     monthly_summary.to_excel(writer, sheet_name="Resumo_Mensal")
#     occupations_financial_summary.to_excel(
#         writer, sheet_name="Detalhamento_Valores_Cargos"
#     )
#     occupations_quantitative_summary.to_excel(
#         writer, sheet_name="Detalhamento_Qtd_Cargos"
#     )
#     occupation_classificatory.to_excel(writer, sheet_name="Classificação_Cargos")
#     workplaces_financial_summary.to_excel(
#         writer, sheet_name="Detalhamento_Valores_Lotações"
#     )
#     workplaces_quantitative_summary.to_excel(
#         writer, sheet_name="Detalhamento_Qtd_Lotações"
#     )
#     workplace_classificatory.to_excel(writer, sheet_name="Classificações_Lotações")
#     adjust_data.to_excel(writer, sheet_name="Detalhamento_Ajustes_Folha")